@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.Archivo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Black', sans-serif;
  line-height: 1.2;
  margin-bottom: 20px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 54px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 22px;
}
.btn {
  height: 48px;
  display: inline-flex;
  align-items: center;
  border: 2px solid #ffcb14;
  background-color: #ffcb14;
  color: #000;
  padding: 0 30px;
  font-size: 24px;
  text-decoration: none;
  font-family: 'Archivo Black', sans-serif;
  border-radius: 37px;
  transition: all 0.3s ease-in;
}
.btn:hover {
  background-color: #232121;
  color: #ffcb14;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}
p {
  margin-bottom: 20px;
}

p:last-child {
  margin: 0;
}
section {
  position: relative;
  overflow: hidden;
}
/*=============== Header CSS =============== */
header.main-header {
  background-color: #232121;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 0;
  z-index: 9999;
}
header.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  gap: 10px;
  margin: 0;
}
header.main-header .menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
header.main-header .menu-wrap a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
header.main-header .menu-wrap a:hover {
  color: #ffcb14;
}
header.main-header .menu-wrap .btn {
  color: #000;
}
/*=============== Header CSS =============== */
/*=============== Footer CSS =============== */
footer.main-footer {
  background-color: #232121;
  overflow: hidden;
  position: relative;
  padding: 70px 0;
  color: #fff;
}
footer.main-footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}
footer.main-footer .left {
  display: flex;
  align-items: center;
  gap: 20px 40px;
  flex: 1;
}
footer.main-footer .right {
  width: 42%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr 1fr;
}
footer.main-footer .right h5 {
  font-size: 18px;
  margin-bottom: 14px;
}
footer.main-footer .right p {
  margin-bottom: 10px;
}
/*=============== Footer CSS =============== */
/*=============== Home Hero CSS =============== */
section.home-hero {
  padding: 70px 0;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
section.home-hero .logo {
  justify-content: center;
  margin-bottom: 30px;
}
section.home-hero .headline {
  font-size: 64px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1;
  color: #fff;
}
section.home-hero .contents {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto 30px;
  font-size: 32px;
  font-weight: 600;
}
section.home-hero .btn {
  height: 73px;
  font-size: 32px;
}
/*=============== Home Hero CSS =============== */
/*=============== Timer CSS =============== */
section.timer {
  background-color: #e36226;
  color: #fff;
  padding: 50px 0;
}
section.timer .container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.timer .left {
  font-size: 40px;
  line-height: 1.2;
}
section.timer .left .date {
  font-size: 60px;
  font-weight: 700;
}
section.timer .right {
  display: flex;
  gap: 20px 60px;
  font-size: 40px;
  line-height: 1.2;
}
section.timer .right .countdown {
  display: flex;
  gap: 20px 60px;
}
section.timer .right .countdown .item:last-child {
  display: none;
}
section.timer .right .countdown .item span:first-child {
  font-weight: 700;
  font-size: 60px;
}
section.timer .right p {
  margin: 10px 0 0;
  line-height: 1.2;
}
/*=============== Timer CSS =============== */
/*=============== Map CSS =============== */
section.map-area {
  display: flex;
}
section.map-area .left-overlap {
  position: absolute;
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.62);
  padding: 40px;
  top: 30px;
  left: 0;
}
section.map-area .left-overlap h3 {
  font-size: 48px;
  margin-bottom: 30px;
  line-height: 1;
}
.race-status {
  position: absolute;
  right: 40px;
  width: 377px;
  border: 1px dashed #222121;
  top: 40px;
  padding: 30px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 32px;
  line-height: 1;
}
.race-status p {
  margin-bottom: 10px;
}
.race-status p.m {
  display: flex;
  gap: 10px;
  align-items: flex-end;
}
.race-status p.m span {
  font-size: 56px;
}
.race-status p:last-child {
  margin: 0;
}
.race-start {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-family: 'Archivo Black', sans-serif;
  font-size: 18px;
  line-height: 1;
  box-shadow: 0 3px 6px #000;
  background-color: #fff;
  padding: 10px 20px;
  width: 300px;
}
.race-start p {
  margin-bottom: 10px;
}
.race-start h4 {
  font-size: 32px;
}
/*=============== Map CSS =============== */

/*=============== Award CSS =============== */
section.award {
  background-color: #fdfcf8;
  padding: 100px 0;
}
.headline {
  text-align: center;
  font-size: 56px;
  margin-bottom: 50px;
  color: #222121;
}
section.award .award-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
section.award .award-grid .logo {
  justify-content: center;
  margin-bottom: 30px;
  height: 220px;
  align-items: flex-end;
}
section.award .award-grid .title {
  font-size: 32px;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 30px;
  line-height: 1;
}
section.award .award-grid .wrap {
  width: 100%;
  max-width: 317px;
  border: 2px solid #e46226;
  border-radius: 17px;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  font-size: 24px;
  text-align: left;
  gap: 14px;
  min-height: 90px;
  padding-left: 15px;
}
section.award .award-grid .item div:last-child {
  margin-bottom: 0;
}
section.award .award-grid .item div:last-child img {
  margin-top: -15px;
}
/*=============== Award CSS =============== */

/*=============== How to Enter CSS =============== */
section.how-to-enter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.how-to-enter-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 50px;
}
.how-to-enter-grid .item {
  background-color: #fff;
  border-radius: 23px;
  padding: 20px 20px 70px;
  text-align: center;
  box-shadow: 2px 3px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}
.how-to-enter-grid .item .count {
  background-color: #222121;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  font-family: 'Archivo Black', sans-serif;
  margin-bottom: 20px;
}
.how-to-enter-grid .item .title {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
  margin-bottom: 20px;
}
.how-to-enter-grid .item .price {
  display: inline-flex;
  width: max-content;
  border-radius: 6px;
  border: 2px dashed #707070;
  text-align: left;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 15px;
  gap: 8px;
  margin-bottom: 20px;
}
.how-to-enter-grid .item .price span {
  font-size: 48px;
  line-height: 1;
  font-family: 'Archivo Black', sans-serif;
}
.how-to-enter-grid .item .btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
.how-to-enter-grid .item .contents {
  text-align: left;
  width: 100%;
  max-width: 260px;
  margin: auto;
}
/*=============== How to Enter CSS =============== */

/*=============== Have Questions CSS =============== */
section.have-questions {
  background-color: #222121;
  padding: 70px 0;
}
section.have-questions .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  color: #fff;
  max-width: 950px;
}
section.have-questions .left {
  display: flex;
}
section.have-questions h3 {
  margin-bottom: 20px;
}
section.have-questions .contents-wrap {
  margin-bottom: 20px;
}
/*=============== Have Questions CSS =============== */
/*=============== Left Image Right Contents CSS =============== */
section.left-image-contents {
  padding: 120px 0;
}
section.left-image-contents .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}
section.left-image-contents .image-wrap {
  display: flex;
}
section.left-image-contents .image-wrap img {
  width: 100%;
  height: 100%;
}
section.left-image-contents h2 {
  font-size: 48px;
  margin-bottom: 20px;
}
section.left-image-contents .contents {
  margin-bottom: 30px;
}
section.left-image-contents .btns-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
section.left-image-contents .btns-wrap .link {
  color: #ff1010;
  font-size: 20px;
  text-decoration: none;
}
section.left-image-contents .btns-wrap .link:hover {
  text-decoration: underline;
}
section.left-image-contents.why-involved {
  background-color: #faf9f5;
}
/*=============== Left Image Right Contents CSS =============== */

/*=============== Kit List CSS =============== */
ul {
  list-style: none;
}
ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}
ul li::before {
  position: absolute;
  content: '';
  width: 19px;
  height: 18px;
  background-image: url(/assets/checkmark.svg);
  left: 0;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: contain;
  top: 4px;
}
section.kit-list {
  background-color: #fdfcf9;
  padding: 70px 0 100px;
}
.kit-list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.kit-list-grid .item {
  padding: 30px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}
.kit-list-grid .item h5 {
  font-size: 26px;
  margin: 20px 0;
}
ul li:last-child {
  margin-bottom: 0;
}
/*=============== Kit List CSS =============== */
/*=============== Inner Hero CSS =============== */
section.inner-hero {
  background-color: #fdfcf8;
  padding: 70px 0 100px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
section.inner-hero .inner {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 50px 50px 70px;
  width: 100%;
  max-width: 885px;
  margin: auto;
}
section.inner-hero .inner .line {
  width: 65px;
  height: 3px;
  background-color: #232121;
  margin: 0 auto 50px;
}
.faqs .faq {
  border-bottom: 1px dashed #222121;
  margin-bottom: 40px;
  padding-bottom: 40px;
}
.faqs .faq .question {
  font-size: 24px;
  margin-bottom: 20px;
}
.faqs .faq:last-child {
  border: none;
  margin: 0;
  padding: 0;
}
section.inner-hero .sub-headline {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  margin-bottom: 40px;
}
section.full-image {
  display: flex;
}
section.full-image img {
  width: 100%;
}
.font-48 {
  font-size: 48px;
}
.tagline {
  margin: 0 auto 30px;
  width: max-content;
  height: 50px;
  border: 3px solid #232121;
  text-transform: uppercase;
  padding: 9px 20px;
  line-height: 1;
  border-radius: 25px;
}
/*=============== Inner Hero CSS =============== */
section.default-lock {
  padding: 70px 0;
}
hr {
  margin: 40px 0;
  opacity: 0.5;
}
body input[type='text'],
body input[type='email'],
body input[type='url'],
body input[type='password'],
body input[type='search'],
body input[type='number'],
body input[type='tel'],
body input[type='range'],
body input[type='date'],
body input[type='month'],
body input[type='week'],
body input[type='time'],
body input[type='datetime'],
body input[type='datetime-local'],
body input[type='color'],
textarea {
  color: #232121;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  width: 100%;
  outline: none;
  height: 55px;
  box-shadow: 0 3px 6px #d5d1c3;
  margin-top: 10px;
}
textarea {
  height: 200px;
}
input[type='radio'],
input[type='checkbox'] {
  width: 28px;
  height: 28px;
  background-color: #fff;
}
label:has(input[type='radio']),
label:has(input[type='checkbox']) {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
form.register-form .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 50px;
  margin-bottom: 30px;
}
.radiobox {
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
form.register-form button[type='submit'] {
  margin-top: 40px;
}
section.sub-navigation {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding-top: 15px;
  position: sticky;
  top: 92px;
  z-index: 9;
  background-color: #ffffff;
}
section.sub-navigation .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
section.sub-navigation a {
  color: #222121;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.3;
  display: inline-block;
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in;
}
section.sub-navigation a:hover {
  border-color: #222121;
}
section.places-to-stays {
  background-color: #fdfcf8;
  padding: 100px 0;
}
section.places-to-stays .top-area {
  margin-bottom: 70px;
}
section.places-to-stays .top-area .headline {
  font-size: 40px;
  margin-bottom: 15px;
}
section.places-to-stays .top-area .descriptions {
  width: 100%;
  max-width: 920px;
  margin: auto;
  text-align: center;
}
.places-address-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.places-address-grid .item {
  background-color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 11px;
  padding: 30px;
  line-height: 1.7;
}
.places-address-grid .item h6 {
  font-size: 24px;
  margin-bottom: 15px;
}
.places-address-grid .item a {
  color: #222121;
}
.divider {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
  background-color: #707070;
  height: 1px;
}
