@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 20px;
}
header.main-header {
  background-color: #232121;
  position: sticky;
  top: 0;
  left: 0;
  padding: 20px 0;
}
header.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.main-header .logo {
  display: flex;
  align-items: center;
  font-size: 22px;
  text-decoration: none;
  color: #fff;
  gap: 10px;
}
header.main-header .menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}
header.main-header .menu-wrap a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in;
}
header.main-header .menu-wrap a:hover {
  color: #ffcb14;
}
